.SeatSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.SelectorTitle,
h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.section-background {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px; 
    border-radius: 10px; 
    margin-top: 20px; 
}


.hall-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.seat-legend {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: default;
    color: azure;
}

    .seat-legend.selected {
        background-color: #3498db;
    }

    .seat-legend.taken {
        background-color: #ff0000;
    }

.hall-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.seat-legend {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: default;
    color: azure;
}

    .seat-legend.selected {
        background-color: #3498db;
    }

    .seat-legend.taken {
        background-color: #ff0000;
    }

/* Style for left and right */
.seat-selector-container {
    display: flex;
}

.left-section .hall-scheme-row {
    justify-content: center;
}

.left-section,
.right-section {
    flex: 1;
}

.right-section {
    margin-left: 40px;
    flex: 0 0 30%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.total-section {
    color: #fff;
    text-align: center;
    margin-bottom: 20px; 
    order: 1; 
}

.Reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2; 
}

    .Reservation button {
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 10px;
        cursor: pointer;
        background-color: #2980b9;
    }

        .Reservation button a {
            text-decoration: none;
            display: block;
            color: #000;
            width: 100%;
            text-align: center;
        }

        .Reservation button:hover {
            background-color: #1d4862;
        }



.hall-container,
.seat-selected {
    background: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    top: 50px;
    margin: 0 10px;
}

.hall-scheme-row,
.selected-scheme-row {
    display: flex;
    flex-wrap: nowrap;
}

.screen {
    left: -7px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: -60px;
    width: 100%;
    text-align: center;
    transform: perspective(200px) rotateX(-20deg);
    margin-bottom: 20px;
    z-index: 1;
}

.seat,
.selected-seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

    .seat.taken {
        background-color: #ff0000;
        pointer-events: none;
    }


    .seat.copied {
        background-color: #3498db;
        color: #fff;
        align-items: center;
        justify-content: center;
    }


.seat.copied{
    display: inline-block;
    margin-right: 5px;
    /*flex-wrap: wrap;*/
}

.selected-seats .cloned {
    background-color: #3498db;
    color: #fff;
    align-items: center;
}

/*Selected*/
.selected {
    background-color: #3498db;
    color: #fff;
}

/*Cancel Selection*/
.cancel-selection-frame {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

    .cancel-selection-frame:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

.selected-seats {
    padding: 10px;
    color: #fff;
    text-align: center;
}

.total-section {
    color: #fff;
}

.hidden {
    display: none;
}

/*------------------------------------------------------*/
/*                        POP UP                        */

/* Popup container */
#popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    z-index: 1;
    width: 700px;
    height: 500px;
    background-color: rgba(26, 26, 26, 0.8); 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(0, 255, 255); 
    backdrop-filter: blur(15px); 
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: #fff; 
}

.popup-content h2 {
    font-size: 40px;
    color: #00bcd4; 
}

/* Sections */
.choose__option {
    display: flex;
    justify-content: space-between; 
    margin: 0 20px; 
}

.left-section-pop,
.right-section-pop {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px; 
    margin-left: 40px; 
}

/* Left section */
.left-section-pop {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.login__input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


    .login__input label {
        color: #ccc;
        margin-bottom: 5px;
        margin-right: 0; 
    }

    .login__input input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #555;
        border-radius: 5px;
        background-color: rgba(26, 26, 26, 0.5);
        color: #fff;
        margin-bottom: 10px;
        margin-right: 0; 
    }

        .login__input input:focus {
            outline: none;
            border-color: #00bcd4;
            box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
        }

    .login__input button {
        background: linear-gradient(90deg, #00bcd4 0%, #008ba3 100%);
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 20px;
        margin: 20px auto 0; 
    }

        .login__input button:hover {
            background: linear-gradient(90deg, #008ba3 0%, #005662 100%);
        }

/* Right section */
.right-section-pop {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.guest__button {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .guest__button .btn a {
        display: inline-block; 
        text-decoration: none;
        border: 2px solid #00bcd4;
        padding: 10px;
        border-radius: 5px;
        color: #00bcd4;
        transition: background 0.3s ease, color 0.3s ease;
    }

        .guest__button .btn a:hover {
            background: #00bcd4;
            color: #fff;
        }
