<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> AstroScreen_Cinema</title>
    <link rel="stylesheet" href="~/css/CssTheme.css" />
    @* <link rel="stylesheet" href="~/css/slider.css" /> *@
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />

    <style>

        nav {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        body {
            background-image: url('images/SpaceWallpaper.png');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

    </style>

</head>

<body>


    <nav>
        <b>AstroScreen Cinema</b>
        <a href="#" id="home-link">Home<span></span></a>
        <a href="~/html/NowShowing.html">Now showing<span></span></a>
        <a href="~/html/Offers.html">Offers<span></span></a>
        <a href="~/html/Login.html">Log In<span></span></a>


        @* <div class="tabs">
        <input type="radio" class="tabs__radio" name="slider" id="home" />
        <label for="home" class="tabs__label">Home</label>
        <div class="tabs__content">
        CONTENT for Home
        </div>
        <input type="radio" class="tabs__radio" name="slider" id="NowShowing" />
        <label for="NowShowing" class="tabs__label">Now Showing</label>
        <div class="tabs__content">
        CONTENT for Now Showing
        </div>
        <input type="radio" class="tabs__radio" name="slider" id="Offers" />
        <label for="Offers" class="tabs__label">Now Showing</label>
        <div class="tabs__content">
        CONTENT for Offers
        </div>
        <input type="radio" class="tabs__radio" name="slider" id="LogIn" />
        <label for="LogIn" class="tabs__label">Log In</label>
        <div class="tabs__content">
        CONTENT for LogIn
        </div>


        </div> *@

    </nav>
    <div class="container">

        <main role="main" class="pb-3">

            @* <div id="slider">
            <img class="small" src="~/images/StarWarsNewHope.jpg" alt="Film 1">
            <img class="large" src="~/images/Mandalorian.jpg" alt="Film 2">
            <img class="small" src="~/images/c3po.jpg" alt="Film 3">
            </div> *@

            @* <button id="prev-button">&#9664;</button>
            <button id="next-button">&#9654;</button>  *@

            @RenderBody()
        </main>
    </div>

    @* <script>
    // Pobieramy linki i zawartość strony
    const homeLink = document.getElementById('home-link');
    const nowShowingLink = document.getElementById('now-showing-link');
    const offersLink = document.getElementById('offers-link');
    const loginLink = document.getElementById('login-link');
    const content = document.getElementById('content');

    // Dodajemy obsługę kliknięcia na link "Home"
    homeLink.addEventListener('click', function (e) {
    e.preventDefault(); // Zapobiegamy domyślnej nawigacji
    content.innerHTML = 'Jesteś na stronie głównej'; // Aktualizacja zawartości strony
    });

    // Dodajemy obsługę kliknięcia na link "Now showing"
    nowShowingLink.addEventListener('click', function (e) {
    e.preventDefault(); // Zapobiegamy domyślnej nawigacji
    content.innerHTML = 'Aktualnie grane filmy'; // Aktualizacja zawartości strony
    });

    // Dodajemy obsługę kliknięcia na link "Offers"
    offersLink.addEventListener('click', function (e) {
    e.preventDefault(); // Zapobiegamy domyślnej nawigacji
    content.innerHTML = 'Nasze aktualne promocje'; // Aktualizacja zawartości strony
    });

    // Dodajemy obsługę kliknięcia na link "Log In"
    loginLink.addEventListener('click', function (e) {
    e.preventDefault(); // Zapobiegamy domyślnej nawigacji
    content.innerHTML = 'Zaloguj się na swoje konto'; // Aktualizacja zawartości strony
    });
    </script> *@


    @* <section>
    <div class="swiper mySwiper container">
    <div class="swipper-wrapper content">

    <div class="swiper-slide card">
    <div class="card-content">
    <div class="image">
    <img src="images/c3po.jpg" alt="" />

    </div>
    </div>
    </div>

    <div class="swiper-slide card">
    <div class="card-content">
    <div class="image">
    <img src="images/Mandalorian.jpg" alt="" />

    </div>
    </div>
    </div>

    <div class="swiper-slide card">
    <div class="card-content">
    <div class="image">
    <img src="images/StarWarsNewHope.jpg" alt="" />

    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    </section> *@

    @* <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <button id="prev-button">&#9664;</button>
    <button id="next-button">&#9654;</button>
    <script src="./slider.js"></script> *@




</body>

</html>