.reservation__form{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-items: center;
}

.container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.reservation__input-container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 50%;
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.submit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: #45a049;
    }
