@namespace AstroScreen_Cinema.Views.NowShowing
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "NowShowing";
}

@model List<AstroScreen_Cinema.Models.EntitiesDto.RepertoireDto>


<link rel="stylesheet" href="~/css/Home/site.css" />
<link rel="stylesheet" href="~/css/NowShowing/Repertoire.css" />

    <nav>
        <ul>
            <li><img class="logo" src="~/images/Logo/favlogo.png" /></li>
            <li><a id="home-link" asp-area="" asp-controller="Home" asp-action="Index">Home<span></span></a></li>
            <li><a id="home-link" asp-area="" asp-controller="NowShowing" asp-action="Nowshowing">Now Showing<span></span></a></li>
            @if (ViewBag.LoginStatus == "NO")
            {
                <li><a id="home-link" asp-area="" asp-controller="Login" asp-action="Login">Login<span></span></a></li>
            }
            @if (ViewBag.LoginStatus == "YES")
            {
                <li><a id="home-link" asp-area="" asp-controller="MyAccount" asp-action="MyAccount">My Account<span></span></a></li>
            }
        </ul>
    </nav>

<div class="nowshowing">

    <div class="Repertoire">Repertoire</div>
        
    <main>
        <form asp-action="NowShowing" asp-controller="NowShowing" method="post">
            <section class="selections">
                <div class="city-selection">
                    <label for="city">City selection:</label>
                    <select id="city" name="city">
                        <option for="City" id="city" name="city">Gliwice</option>
                        <option for="City" id="city" name="city">Zabrze</option>
                        <option for="City" id="city" name="city">Warszawa</option>
                        <option for="City" id="city" name="city">Kraków</option>
                     
                    </select>
                </div>

                <div class="date-selection">
                    <label for="Date">Date selection:</label>
                    <input type="date" for="Date" id="date" name="date"/>
                </div>
                <div>
                    <button type="submit" value="NowShowing">Filter</button>
                </div>
            </section>
        </form>

        <section class="movie-schedule">
            <!-- Film 1 -->
            @if (Model.Count != 0)
            { 
                @foreach (var movie in Model)
                {
                    var path = movie.imgPath;
                    <div class="movie">
                        <img src="~/@path" alt="Movie 1">
                        <div class="details">
                            <div class="Title">
                                <p>@movie.MovieName</p>
                            </div>
                            <div class="additional-info">
                                <p>Duration: @movie.Duration</p>
                                @*<p>Categories: Action, Adventure, Sci-Fi</p>*@
                            </div>
                            <div class="schedule">
                                <p>Hours:</p>
                                <ul>
                                    @foreach (var hour in movie.Hours)
                                    {
                                        <li><a id="home-link" asp-area="" asp-controller="Hall" asp-action="Hall_One">@hour<span></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="movie">
                <img src="~/images/SoonInCinemas/Barbie810x1200.jpg" alt="Movie 2">
                    <div class="details">
                        <div class="Title">
                            <p>Barbie</p>
                        </div>
                        <div class="additional-info">
                            <p>Duration: 1h 45min</p>
                            <p>Categories: Comedy, Family</p>
                        </div>
                        <div class="schedule">
                            <p>Hours:</p>
                            <ul>
                                <li>15:15</li>
                                <li>18:45</li>
                                <li>21:30</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

            <!-- Film 2 -->
            @*<div class="movie">
            <img src="~/images/SoonInCinemas/Barbie810x1200.jpg" alt="Movie 2">
            <div class="details">
                <div class="Title">
                    <p>Barbie</p>
                </div>
                <div class="additional-info">
                    <p>Duration: 1h 45min</p>
                    <p>Categories: Comedy, Family</p>
                </div>
                <div class="schedule">
                    <p>Hours:</p>
                    <ul>
                        <li>15:15</li>
                        <li>18:45</li>
                        <li>21:30</li>
                    </ul>
                </div>
            </div>
        </div>*@
        </section>
    </main>
</div>