.login--main_container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    position: relative;
    border: 1px solid #333; 
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1a1a1a; 
}

    .login--main_container::before {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        background: linear-gradient(45deg, #00bcd4, #00bcd4, transparent, transparent, #00bcd4, #00bcd4);
        border-radius: 30px;
        z-index: -1;
        animation: neonGlow 3s linear infinite alternate;
    }


.login--main_label {
    text-align: center;
}

.login--main-label_text {
    color: #00bcd4;
}

.login--input_area {
    margin-top: 20px;
}

.login--input {
    margin-bottom: 15px;
    position: relative;
}

.login--label {
    display: block;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 5px;
}

.login--input input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: rgba(26, 26, 26, 0.5);
    color: #fff;
}

    .login--input input:focus {
        outline: none;
        border-color: #00bcd4;
        box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
    }

.login--input[type="submit"] {
    background: linear-gradient(90deg, #00bcd4 0%, #008ba3 100%);
    color: white;
    cursor: pointer;
}

    .login--input[type="submit"]:hover {
        background: linear-gradient(90deg, #008ba3 0%, #005662 100%);
    }



.login--submit_btn_container {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login--submit_btn {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border-style: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    transition: background 1s ease; 
}

    .login--submit_btn:hover {
        background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
        transition: background 1s ease, transform 1s ease; 
    }


.loginCreate--submit_btn_container li {
    width: 200px;
    height: 50px;
    margin: 10px auto 0; /* Trochę marginesu z góry */
    text-align: center; /* Centrowanie w poziomie */
}

.loginCreate--submit_btn_container a {
    display: block;
    text-decoration: none;
    border: 2px solid #00bcd4;
    padding: 10px;
    border-radius: 5px;
    color: #00bcd4;
    transition: background 0.3s ease, color 0.3s ease;
    box-sizing: border-box; /* Ustawienie modelu pudełkowego */
}

    .loginCreate--submit_btn_container a:hover {
        background: #00bcd4;
        color: #fff;
    }







