@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login Page";

}


@model AstroScreen_Cinema.Models.EntitiesDto.LoginDto


<form asp-action="Login" asp-controller="Login" method="post" class="login--form_main">

    @Html.AntiForgeryToken()

    <div class="login--main_container">
        <div class="login--main_label">
            <h2 class="login--main-label_text">Log Into your account</h2>
        </div>
        <div class="login--input_area">
            <div class="login--input">
                <div class="login--label">
                    <label asp-for="Login">Login:</label>
                </div>
                <input type="text" asp-for="Login" required class="login--input" />
            </div>
            <div class="login--input">
                <div class="login--label">
                    <label asp-for="Password">Password:</label>
                </div>
                <input type="text" asp-for="Password" class="login--input" required />
            </div>

            @{
                if (ViewBag.LoginStatus != null)
                {
                    if (ViewBag.LoginStatus == 0)
                    {
                        <div class="login--error">
                            <p>Login failed. Pleas check your credentials</p>
                        </div>
                    }
                }
            }
            <div class="login--submit_btn_container">
                <button type="submit" value="Login" class="login--submit_btn">Login</button>
            </div>
        </div>
    </div>
</form>

<div id="messageContainer"></div>



@*@Html.Partial("LoginStatus");*@