.nowshowing {
    display:center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

.Repertoire {
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 30px;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
}


.selections {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 20px; 
    border-radius: 20px; 
}

.city-selection,
.date-selection {
    margin-right: 20px;
    color: azure;
    font-size:20px;

}

    .city-selection label,
    .date-selection label {
        margin-right: 10px;
    }

    .city-selection select,
    .date-selection input[type="date"] {
        padding: 8px; 
        border: 1px solid #4a4a4a; 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1); 
        color: aqua; 
        outline: none; 
        transition: border-color 0.3s ease; 
    }

        .city-selection select:focus {
           
            background-color: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(2px); 
        }




    .date-selection input[type="date"]:hover, select:hover {
        border-color: #fff; 
    }   
.movie {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 20px; 
    border-radius: 20px; 
}

    .movie img {
        max-width: 200px;
        height: auto;
        margin-right: 20px;
        border-radius: 20px; 
    }


.details {
    flex-grow: 1;

}

.Title {
    font-size: 30px;
    font-weight: bold;
    color:aqua;
}

.schedule a, .schedule, .additional-info {
    color: azure;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

    

    .schedule ul {
        list-style: none;
        padding: 0;
    }

    .schedule li {
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px;
        transition: border-color 0.3s ease, transform 0.3s ease, background-color 0.1s ease; 
    }
        .schedule li:hover {
            border-color: #fff; 
            transform: scale(1.1);
        }
        .schedule li:active {
            background-color: #fff; 
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
        }

/*Button*/
/* Ogólny styl przycisku */
button {
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}


    button:hover {
        border-color: #fff;
    }

    
    button:active {
        background-color: #21618c;
    }

    