@namespace AstroScreen_Cinema.Views.NowShowing
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Hall";
}
<h1>Choose a seat</h1>
