<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroScreen_Cinema</title>

    <link rel="stylesheet" href="~/css/Login/login.css" />
    <link rel="stylesheet" href="~/css/Home/site.css" />
    <link rel="stylesheet" href="~/css/Home/slider.css" />
    <link rel="stylesheet" href="~/css/Home/SoonInCinemas.css" />
    <link rel="stylesheet" href="~/css/Login/login.css" />
    <link rel="stylesheet" href="~/css/MyAccount/myaccount.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />

    <style>
        nav img.logo {
            max-width: 20vw; 
            height: auto;
        }
    </style>


</head>

<body>

    <header>
        @*Adding header img*@
        <img src="~/images/HomeBackground/Header.jpg" />

    </header>

    @RenderBody()

</body>

</html>