<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroScreen_Cinema</title>
    <link rel="stylesheet" href="~/css/Home/site.css" />
    <link rel="stylesheet" href="~/css/Home/slider.css" />
    <link rel="stylesheet" href="~/css/Home/SoonInCinemas.css" />
    <link rel="stylesheet" href="~/css/Login/login.css" />
    <link rel="stylesheet" href="~/css/MyAccount/myaccount.css" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />

    @*@if (ViewBag.AccessToken != null)
    {
        <meta name="access-token" content="@ViewBag.AccessToken" />
    }*@

    @{
        var user = User.Claims;
    }

</head>
<body>

    <header>
        @*Adding header img*@
        <img src="/images/HomeBackground/Header.jpg" />

        @*Adding navigation*@
        <nav>
            <ul>
                <li><b>AstroScreen Cinema</b></li>
                <li><a id="home-link" asp-area="" asp-controller="Home" asp-action="Index">Home<span></span></a></li>
                <li><a id="home-link" asp-area="" asp-controller="Home" asp-action="NowShowing">Now Showing<span></span></a></li>
                @if(true)
                    {
                <li><a id="home-link" asp-area="" asp-controller="Login" asp-action="Login">Log In<span></span></a></li>
                    }

                @if (true)
                    {
                <li><a id="home-link" asp-area="" asp-controller="MyAccount" asp-action="Account">My Account<span></span></a></li>
                    }
            </ul>
        </nav>
    </header>

    

    <div class="content">

        @RenderBody()

    </div>

</body>

</html>