@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
@model List<Movie> 



<!--Slider functionality-->
<div class="slider">

    <div class="slide-track slider-dissapear">
        
        <!--6 slides-->

        <div class="slide">
            <img src="images/MandalorianS3_1280_720.jpg"/>
        </div>

        <div class="slide">
            <img src="images/Mandalorian_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates2_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/R2C3PO_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/ROTS1280_720.jpg" />
        </div>

        <!--Same 6 slides (doubled)-->

        <div class="slide">
            <img src="images/MandalorianS3_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Mandalorian_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates2_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/R2C3PO_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/ROTS1280_720.jpg" />
        </div>

    </div>

</div>
<!--End of Slider-->

<section class="home--soon_in_cinemas">

    @foreach (var movie in Model)
    {
        <h1>@movie.Title</h1>
        <h3>@movie.Duration</h3>
        <h3>@movie.Film_ID</h3>
        <h3>@movie.Director_ID</h3>
        <p>-----------------------------</p>
    }

    <h2>Soon in our cinemas</h2>
    <div class="home--movies_container">
        <div class="row">
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
        </div>
        <div class="row">
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
            <div class="home--soon_content">
                <img />
                <h3></h3>
            </div>
        </div>
    </div>
</section>