@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<!--Slider functionality-->
<div class="slider">

    <div class="slide-track">
        
        <!--6 slides-->

        <div class="slide">
            <img src="images/MandalorianS3_1280_720.jpg"/>
        </div>

        <div class="slide">
            <img src="images/Mandalorian_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates2_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/R2C3PO_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/ROTS1280_720.jpg" />
        </div>

        <!--Same 6 slides (doubled)-->

        <div class="slide">
            <img src="images/MandalorianS3_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Mandalorian_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates2_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Pirates_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/R2C3PO_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/ROTS1280_720.jpg" />
        </div>

    </div>

</div>
<!--End of Slider-->

<footer>
    <h1>Welcome to the Home Page of our extra-ordinary cinema</h1>
    <h2>Here you can experience what is out of this planet</h2>
</footer>
 