@namespace AstroScreen_Cinema.Views.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Now Showing";
}

<div>
    <h1>Here are a few of our most popular movies that are currently being played at our cinema</h1>
</div>