.slider {
    height: 500px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    border: 4px solid; 
    border-radius: 15px; 
    background-color: rgba(30, 43, 43, 0.28);
    background-image: linear-gradient(360deg, rgba(30, 43, 43, 0.28) 0%, rgba(0, 13, 22, 0.76) 100%);
    margin-bottom: 20px; 
    position: relative; 
}

.slide-track {
    display: flex;
    width: calc(250px * 30);
    animation: scroll 40s linear infinite;
}

    .slide-track:hover {
        animation-play-state: paused;
    }

/* AUTO SLIDE 
*/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 10));
    }
}

.slide {
    height: 300px; 
    width: 600px; 
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider img {
    width: 100%;
    border-radius: 10px; 
    transition: transform 0.5s ease;  
}

    .slider img:hover {
        transform: translateZ(10px);
    }

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(0, 13, 22, 1) 0%, rgba(0, 13, 22, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 40%;
    z-index: 1;
    
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/*.slider {
    height: 400px;*/ /* Zmniejszona wysokość ramki */
    /*margin: auto;
    position: relative;
    width: 70%;*/ /* Zmniejszona szerokość ramki */
    /*display: grid;
    place-items: center;
    overflow: hidden;
    border: 4px solid aqua;*/ /* Kolor krawędzi ramki */
    /*border-radius: 15px;*/ /* Zaokrąglenie ramki */
    /*background: rgba(255, 255, 255, 0.8);*/ /* Szare zblurowane tło ramki */
    /*margin-bottom: 20px;*/ /* Dodany margines na dole ramki */
/*}



.slide-track {
    display: flex;
    justify-content: center;
}

.slide {
    height: 200px;*/ /* Zmniejszona wysokość slajdu */
    /*width: 400px;*/ /* Zmniejszona szerokość slajdu */
    /*display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    z-index: 2;
}

.slide img {
    width: 100%;
}

    .slide img:hover {
        transform: translateZ(15px);
        transition: transform 1s;
    }

.navigation {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin-right: 50px;*/ /* Dodane, aby przyciski były przesunięte na lewą stronę z odstępem 10px */
/*}

button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: aqua;*/ /* Kolor tła przycisku */
    /*color: white;*/ /* Kolor tekstu przycisku */
    /*border: 2px solid aqua;*/ /* Kolor obramowania przycisku */
    /*border-radius: 5px;*/ /* Zaokrąglenie krawędzi przycisku */
/*}

    button:hover {
        background-color: transparent;*/ /* Przezroczyste tło po najechaniu myszą */
        /*color: aqua;*/ /* Zmiana koloru tekstu po najechaniu myszą */
    /*}*/



